<div class="interior_13">
	<div class="responsive-container-block big-container">
	  <div class="responsive-container-block container">
		<div class="responsive-container-block">
		  <div class="orange-card">
		  </div>
		  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6" id="i7wk">
			<div class="card-content">
			  <p class="text-blk section-head">
				Get in touch
			  </p>
			  <p class="text-blk sub-head">
				 Please drop your email. Will get back to you in less then 48 Hrs.
			  </p>
			  <div style="display: flex; margin-right: 10px; font-weight: bolder; " class="phone text-box">
                <img  class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg"><br>
				<p class="contact-text">
                  +91-8971288164       
                </p>
				<img style="margin-left: 100px;" class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg"><br><br>
                <p class="contact-text">
					mallanagoudarbiradar@gmail.com
				  </p>
			    </div>
				<br>
				<br>
				<br>
			  <form class="form-box">
				<input class="input" name="Email" placeholder="Your Email">
				<button  class="submit-btn" (click)="myFunction()">
				  Submit
				</button>
			  </form>
			</div>
		  </div>
		  
		  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6 img-one" id="iwgx">
			<img class="img-sofa3" style="width: 600px; height: 600px;" id="isvcn" src="../../assets/images/Rahulh.jpg">
		  </div>
		</div>
	  </div>
	</div>
  </div>