.interior_13 * {
  font-family: Nunito, sans-serif;
}

.interior_13 .text-blk.section-head {
  line-height: 45px;
  font-size: 36px;
  font-weight: 900;
  color: rgb(123, 139, 5);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}
p{
  animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

@keyframes slideBottom {
  0%{
      transform: translateY(-200px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
  
}

.interior_13 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  font-size: 16px;
}

.interior_13 a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: inherit;
}

.interior_13 .responsive-cell-block {
  min-height: 75px;
}

.interior_13 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.interior_13 .responsive-container-block.container {
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding: 0 0 0 50px;
}

.interior_13 .img-sofa3 {
  width: 100%;
}

.interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6 {
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.interior_13 .card-content {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.interior_13 .text-blk.sub-head {
  font-size: 22px;
  line-height: 35px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.interior_13 .input {
  width: 70%;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #efbe00;
  height: 50px;
  font-size: 20px;
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 10px;
  background-color: transparent;
}

.interior_13 .form-box {
  display: flex;
  justify-content: space-between;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
@keyframes slideLeft {
  0%{
      transform: translateX(-200px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
  
}

.interior_13 .submit-btn {
  width: auto;
  background-color: #f8f8f8;
  padding-top: 1px;
  padding-right: 30px;
  padding-bottom: 1px;
  padding-left: 30px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;

  font-size: 18px;
  font-weight: 700;
  height: 50px;
}

.interior_13 .orange-card {
  background-color: #fff6d2;
  width: 60%;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.interior_13 .responsive-container-block.big-container {
  position: relative;
  padding: 0 0 0 0;
}

@media (max-width: 1024px) {
  .interior_13 .submit-btn {
    height: 45px;
  }

  .interior_13 .form-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .interior_13 .input {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  .interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6 {
    margin: 0 0 0 0;
  }

  .interior_13 .img-sofa3 {
    width: 70%;
    
  }

  .interior_13 .responsive-container-block.container {
    margin: 40px auto 40px auto;
  }

  .interior_13 .orange-card {
    width: 100%;
  }

  .interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6.img-one {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .interior_13 .responsive-container-block.container {
    padding: 10px 0 10px 50px;
  }

  .interior_13 .text-blk.section-head {
    margin: 0 0 20px 0;
  }

  .interior_13 .text-blk.sub-head {
    font-size: 19px;
    line-height: 30px;
  }
}

@media (max-width: 500px) {
  .interior_13 .input {
    width: 100%;
  }

  .interior_13 .card-content {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .interior_13 .responsive-container-block.container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .interior_13 .text-blk.section-head {
    font-size: 40px;
    line-height: 55px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin: 0 0 15px 0;
  }

  .interior_13 .text-blk.sub-head {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin: 0 0 25px 0;
  }

  .interior_13 .responsive-container-block.container {
    padding: 10px 0 10px 20px;
  }

  .interior_13 .card-content {
    padding: 0 20px 0 0;
  }
}


img{
  animation: slideRight 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

@keyframes slideRight {
  0%{
      transform: translateX(200px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
  
}

.submit-btn:hover{
  box-shadow: 0 0 15px cyan,
  0 0 25px cyan, 0 0 50px cyan,0 0 100px cyan,
  0 0 200px cyan
}